* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: "League Spartan", sans-serif;
}
html{
    font-size: 62,5%;
}
body {
    background-color: #d1a4a4;
}
.card {
    background-color: white;
}